<div class="col-lg-12 floatleft BgColor1 Border1 BorderColor1 padding20 BorderRounded10 Shadow marginB20" style="margin:10px;">
    <div class="NormalTextBig FontColor1"><strong>Client Details</strong></div>
    <hr />

    <div class="col-lg-4 floatleft padding10">
        <label for="ClientName">Client Name <span style="color:red">*</span></label>
        <input type="text" id="ClientName" name="ClientName" class="TextBox col-lg-12 BorderRounded5" required>
    </div>

   

    <div class="col-lg-4 floatleft padding10">
        <label for="PANNo">Pan No.</label>
        <input type="text" id="PANNo" name="PANNo" class="TextBox col-lg-12 BorderRounded5">
    </div>

    <div class="col-lg-4 floatleft padding10">
        <label for="TINNO">TIN NO.</label>
        <input type="number" id="TINNO" name="TINNO" class="TextBox col-lg-12 BorderRounded5">
    </div>

  @*   <div class="col-lg-4 floatleft padding10">
        <label for="VATNO">VAT NO.</label>
        <input type="number" id="VATNO" name="VATNO" class="TextBox col-lg-12 BorderRounded5">
    </div>

    <div class="col-lg-4 floatleft padding10">
        <label for="CSTNO">C.S.T NO.</label>
        <input type="number" id="CSTNO" name="CSTNO" class="TextBox col-lg-12 BorderRounded5">
    </div>

    <div class="col-lg-4 floatleft padding10">
        <label for="STNO">S.T No.</label>
        <input type="number" id="STNO" name="STNO" class="TextBox col-lg-12 BorderRounded5">
    </div>

    <div class="col-lg-4 floatleft padding10">
        <label for="ECCNO">E.C.C NO.</label>
        <input type="number" id="ECCNO" name="ECCNO" class="TextBox col-lg-12 BorderRounded5">
    </div> *@

    <div class="col-lg-4 floatleft padding10">
        <label for="GSTNo">GST No. <span style="color:red">*</span></label>
        <input type="text" id="GSTNo" name="GSTNo" class="TextBox col-lg-12 BorderRounded5" required>
    </div>
    <div class="col-lg-4 floatleft padding10">
        <label>Client Type <span style="color:red">*</span></label><br />
        <div class="marginT5">
            <input type="radio" id="ClientTypePermanent" name="ClientType" value="Permanent">
            <label for="ClientTypePermanent" class="marginR10">Permanent</label>

            <input type="radio" id="ClientTypeTemporary" name="ClientType" value="Temporary">
            <label for="ClientTypeTemporary">Temporary</label>
        </div>
    </div>
</div>