<div class="col-lg-12 floatleft BgColor1 Border1 BorderColor1 padding20 BorderRounded10 Shadow marginB20" style="margin:10px;">
    <div class="NormalTextBig FontColor1"><strong> Company Identity</strong></div>
    <hr />
    <div class="col-lg-4 floatleft padding10">
        <label>Company Name <span style="color:red">*</span></label>
        <input type="text" name="CompanyName" class="TextBox col-lg-12 BorderRounded5">
    </div>
    <div class="col-lg-3 floatleft padding10">
        <label>Registration No.</label> <span style="color:red">*</span>
        <input type="text" name="RegNo" class="TextBox col-lg-12 BorderRounded5">
    </div>
    <div class="col-lg-2 floatleft padding10">
        <label>GST No.</label> <span style="color:red">*</span>
        <input type="text" name="GSTNo" class="TextBox col-lg-12 BorderRounded5">
    </div>
    <div class="col-lg-3 floatleft padding10">
        <label>PAN No.</label> <span style="color:red">*</span>
        <input type="text" name="PANNo" class="TextBox col-lg-12 BorderRounded5">
    </div>
</div>
