<div class="col-lg-12 floatleft BgColor1 Border1 BorderColor1 padding20 BorderRounded10 Shadow marginB20" style="margin:10px;">
    <div class="NormalTextBig FontColor1"><strong> Company Details</strong></div>
    <hr />
    <div class="col-lg-4 floatleft padding10">
        <label>Company Name <span style="color:red">*</span></label>
        <input type="text" name="CompanyName" class="TextBox col-lg-12 BorderRounded5">
    </div>
   
    <div class="col-lg-4 floatleft padding10">
        <label>Central Excise Registration.</label> 
        <input type="text" name="CEegistration" class="TextBox col-lg-12 BorderRounded5">
    </div>
    
    <div class="col-lg-4 floatleft padding10">
        <label>Central Excise Range.</label>
        <input type="text" name="CERange" class="TextBox col-lg-12 BorderRounded5">
    </div>
   
    <div class="col-lg-4 floatleft padding10">
        <label>TIN NO.</label> 
        <input type="text" name="TINNO" class="TextBox col-lg-12 BorderRounded5">
    </div>
    <div class="col-lg-4 floatleft padding10">
        <label>VAT NO.</label>
        <input type="text" name="VATNO" class="TextBox col-lg-12 BorderRounded5">
    </div>
    <div class="col-lg-4 floatleft padding10">
        <label>C.S.T NO.</label> 
        <input type="text" name="CSTNO" class="TextBox col-lg-12 BorderRounded5">
    </div>
    <div class="col-lg-4 floatleft padding10">
        <label>S.T No.</label> 
        <input type="text" name="STNO" class="TextBox col-lg-12 BorderRounded5">
    </div>
    <div class="col-lg-4 floatleft padding10">
        <label>E.C.C NO.</label> 
        <input type="text" name="ECCNO" class="TextBox col-lg-12 BorderRounded5">
    </div>
    <div class="col-lg-4 floatleft padding10">
        <label>GST No.</label> <span style="color:red">*</span>
        <input type="text" name="GSTNo" class="TextBox col-lg-12 BorderRounded5">
    </div>


    <div class="col-lg-4 floatleft padding10">
        <label>Email ID.</label> <span style="color:red">*</span>
        <input type="text" name="CompanyemailID" class="TextBox col-lg-12 BorderRounded5">
    </div>
    
</div>
