<div class="col-lg-12 floatleft BgColor1 Border1 BorderColor1 padding20 BorderRounded10 Shadow marginB20" style="margin:10px;">
    <div class="NormalTextBig FontColor1"><strong> Contact & Communication</strong></div>
    <hr />
    <div class="col-lg-4 floatleft padding10"><label>Email  <span style="color:red">*</span> </label><input type="email" name="Email" class="TextBox col-lg-12 BorderRounded5"></div>
    <div class="col-lg-4 floatleft padding10"><label>Alternate Email   </label><input type="email" name="AlternateEmail" class="TextBox col-lg-12 BorderRounded5"></div>
    <div class="col-lg-4 floatleft padding10"><label>Contact Person Name  <span style="color:red">*</span> </label><input type="text" name="ContactPersonName" class="TextBox col-lg-12 BorderRounded5"></div>
    <div class="col-lg-4 floatleft padding10"><label>Off. Mobile NO.  <span style="color:red">*</span> </label><input type="text" name="OffMobileNO" class="TextBox col-lg-12 BorderRounded5"></div>
    <div class="col-lg-4 floatleft padding10"><label>Whats App NO.  <span style="color:red">*</span> </label><input type="text" name="WhatsappNo" class="TextBox col-lg-12 BorderRounded5"></div>
    <div class="col-lg-4 floatleft padding10"><label>Website  <span style="color:red">*</span> </label><input type="text" name="Website" class="TextBox col-lg-12 BorderRounded5"></div>
    <div class="col-lg-4 floatleft padding10"><label>Telephone </label><input type="text" name="Tel1" class="TextBox col-lg-12 BorderRounded5"></div>

    <div class="clear"></div>

    <div id="MobileContainer">
        <div class="col-lg-4 floatleft padding10 mobile-row">
            <label>Mobile Number</label>  <span style="color:red">*</span>
            <div style="display: flex; gap: 5px;">
                <input type="text" name="MobileNo" class="TextBox col-lg-10 BorderRounded5">
                <button type="button" class="Button ButtonColor1" onclick="AddMobileRow()"
                        style="display: flex;display:none; align-items: center; justify-content: center; width: 32px; height: 32px; border-radius: 50%; padding: 0; background-color: #000080; border: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="white" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" stroke="white" stroke-width="1" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>