


<div class="col-lg-12 floatleft BgColor1 Border1 BorderColor1 padding20 BorderRounded10 Shadow marginB20">
    <div class="NormalTextBig FontColor1"><strong> Contact & Communication</strong></div>
    <hr />

    <div class="row-flex">
        <div class="col-lg-4 floatleft padding10">
            <label>Email</label>
            <input type="email" name="Email" class="TextBox col-lg-12 BorderRounded5" >
        </div>
        <div class="col-lg-4 floatleft padding10">
            <label>Alternate Email</label>
            <input type="email" name="AlternateEmail" class="TextBox col-lg-12 BorderRounded5">
        </div>
        <div class="col-lg-4 floatleft padding10">
            <label>Contact Person Name </label>
            <input type="text" name="ContactPersonName" class="TextBox col-lg-12 BorderRounded5" >
        </div>
        <div class="col-lg-4 floatleft padding10">
            <label>Off. Mobile NO. </label>
            <input type="text" name="OffMobileNO" class="TextBox col-lg-12 BorderRounded5" >
        </div>
        <div class="col-lg-4 floatleft padding10">
            <label>Whats App NO. </label>
            <input type="text" name="WhatsappNo" class="TextBox col-lg-12 BorderRounded5" >
        </div>
        <div class="col-lg-4 floatleft padding10">
            <label>Website</label>
            <input type="text" name="Website" class="TextBox col-lg-12 BorderRounded5">
        </div>
        <div class="col-lg-4 floatleft padding10">
            <label>Telephone</label>
            <input type="text" name="Tel1" class="TextBox col-lg-12 BorderRounded5">
        </div>
        <div class="col-lg-4 floatleft padding10">
            <label>Mobile Number <span style="color:red">*</span></label>
            <input type="text" name="MobileNo" class="TextBox col-lg-10 BorderRounded5" required>
        </div>


        <div class="clear"></div>

    </div>
</div>
