@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

Body {
	color: #000;
	FONT-SIZE:17px;
	font-family: "Radio Canada Big", sans-serif;
	margin: 0;
	padding: 0;	
}

::selection {color:#FFF;background:#144379;}
::-moz-selection {color:#FFF;background:#144379;}
::-o-selection {color:#FFF;background:#144379;}
::-ms-selection {color:#FFF;background:#144379;}
::-webkit-selection {color:#FFF;background:#144379;}

.Shadow{
 -moz-box-shadow: 0px 5px 12px 0px #bbb;
 -webkit-box-shadow: 0px 5px 12px 0px #bbb;
 box-shadow: 0px 5px 12px 0px #bbb;}
 
 .li {
    list-style:url("../images/drop.png");
    position: relative;    /* It's needed for setting position to absolute in the next rule. */	 
}

.li::before {   
    position: absolute;
       left: 0;       /* Adjust this value so that it appears where you want. */
         top: 0;       /* Adjust this value so that it appears where you want. */
    font-size: 0.8em;      /* Adjust this value so that it appears what size you want. */
}	
 
.FontColor1 {color: #144379;}
.FontColor2 {color:#D03523;}
.FontColor3 {color:#FFFFFF;}
.FontColor4 {color:#000;}
.FontColor5 {color:#D40003;}

.FontStyle1{font-family: 'Domine', serif;}

.BgColor1 {background-color:#fff;}
.BgColor2 {background-color:#fb9717;}
.BgColor3 {background-color:#ade2ff!important;}
.loginbg{
	background: url("../images/loginbg.jpg") no-repeat top left fixed;
	background-size: cover;
	min-height: 100%;
	height: 100vh;
	
}
.bg{
	background: url("../images/bg.jpg") no-repeat top center fixed;
	background-size: cover;
	min-height: 100%;
	height: 100vh;
}
.TableAltHeader1 {background-color:#144379; color:#fff;}
.AltColor11 {background-color:#dae2ea;}
.AltColor12 {background-color:#ebeff3;}

.TableAltHeader2 {background-color:#222; color:#fff;}
.AltColor21 {background-color:#efefef;}
.AltColor22 {background-color:#f5f5f5;}



/* Font Sizes */
.SmallerText {FONT-SIZE:12px}
.MediumText {FONT-SIZE:14px;}
.NormalText {FONT-SIZE: 16px;}
.NormalTextBig {FONT-SIZE:22px }
.Heading {FONT-SIZE:28px;}
.BiggerText {FONT-SIZE:40px}

.LargeText {FONT-SIZE:52px; }
.ExtraLargeText {FONT-SIZE:60px; }

.SmallerLink{FONT-SIZE:12px; text-decoration: none}
a.SmallerLink:hover {text-decoration:underline;}
	
.JustLinks {TEXT-DECORATION:none ;}
a.JustLinks:hover{TEXT-DECORATION: underline; }

.textdeconone{text-decoration:none;}

.AllCaps{text-transform:uppercase;}

.PositionABT{position: absolute}

.PositionREL{position: relative}

.PositionFIX{position: fixed}

/* Button Styles */
.Button{
	font-size:17px;
	font-family: "Radio Canada Big", sans-serif;
	padding:7px 20px;
	cursor:pointer;
	text-decoration:none;
	outline:none;	
	display:inline-block;
}
.ButtonSmall{
	font-family: "Radio Canada Big", sans-serif;
	font-size:12px;		
	padding:3px 8px;
	cursor:pointer;
	text-decoration:none;
	outline:none;
	display:inline-block;	
}
.ButtonMedium{
	font-family: "Radio Canada Big", sans-serif;
	font-size:14px;	
	padding:5px 15px;
	cursor:pointer;
	text-decoration:none;
	outline:none;
	display:inline-block;	
}
.ButtonBig{
	font-family: "Radio Canada Big", sans-serif;
	font-size:20px;	
	padding:10px 20px;
	cursor:pointer;	
	text-decoration:none;	
	outline:none;	
	margin:5px;
	box-sizing: border-box;
}
.ButtonColor1{
	color:#fff;	
	background-color: #144379;
	background-image: linear-gradient(top, #144379, #063366);
	background-image: -webkit-linear-gradient(top, #144379, #063366);	
	background-image: -ms-linear-gradient(top, #144379, #063366);				
	border:1px solid #063366;
	transition:0.3s ease;	
}

.ButtonColor1:hover{
	color:#fff;	
	background-color: #013f86;	
	background-image: linear-gradient(top, #013f86, #01234a);
	background-image: -webkit-linear-gradient(top, #013f86, #01234a);	
	background-image: -ms-linear-gradient(top, #013f86, #01234a);				
	border:1px solid #c41c08;
	transition: 0.3s ease;
}
.ButtonColor2{
	color:#fff;	
	background-color: #d03523;	
	background-image: linear-gradient(top, #d03523, #c41c08);
	background-image: -webkit-linear-gradient(top, #d03523, #c41c08);	
	background-image: -ms-linear-gradient(top, #d03523, #c41c08);				
	border:1px solid #c41c08;
}
.ButtonColor2:hover{
	color:#fff;	
	background-color: #000;	
	background-image: linear-gradient(bottom, #444, #000);
	background-image: -webkit-linear-gradient(bottom, #444, #000);	
	background-image: -ms-linear-gradient(bottom, #444, #000);				
	border:1px solid #bbb;
	transition:0.3s ease;	
}
.ButtonColor3{
	color:#fff;	
	background-color: #333;
	background-image: linear-gradient(top, #666, #333);
	background-image: -webkit-linear-gradient(top, #666, #333);	
	background-image: -ms-linear-gradient(top, #666, #333);				
	border:1px solid #222;
}
.ButtonColor3:hover{
	color:#fff;	
	background-color: #222;
	background-image: linear-gradient(bottom, #444, #222);
	background-image: -webkit-linear-gradient(bottom, #444, #222);	
	background-image: -ms-linear-gradient(bottom, #444, #222);				
	border:1px solid #111;
	transition:0.3s ease;	
}
.ButtonColor4{
	color:#fff;	
	background-color: #e36803;	
	background-image: linear-gradient(top, #fba125, #e36803);
	background-image: -webkit-linear-gradient(top, #fba125, #e36803);	
	background-image: -ms-linear-gradient(top, #fba125, #e36803);				
	border:1px solid #e36803;
}
.ButtonColor4:hover{
	color:#fff;	
	background-color: #2b9ab6;	
	background-image: linear-gradient(top, #19beb8, #2972ad);
	background-image: -webkit-linear-gradient(top, #19beb8, #2972ad);	
	background-image: -ms-linear-gradient(top, #19beb8, #2972ad);				
	border:1px solid #22659e;
	transition:0.3s ease;	
}
.ButtonColor5{
	color:#fff;	
	background-color: #e80404;	
	background-image: linear-gradient(top, #e80404, #bb0101);
	background-image: -webkit-linear-gradient(top, #e80404, #bb0101);	
	background-image: -ms-linear-gradient(top, #e80404, #bb0101);				
	border:1px solid #bb0101;
}
.ButtonColor5:hover{
	color:#fff;	
	background-color: #222;	
	background-image: linear-gradient(top, #444, #222);
	background-image: -webkit-linear-gradient(top, #444, #222);	
	background-image: -ms-linear-gradient(top, #444, #222);				
	border:1px solid #222;
	transition:0.3s ease;	
}
.Button, ButtonMedium, ButtonSmall, ButtonBig:active{
	top:1px;
	position:relative;
}

* {box-sizing:border-box;}
/* All Border Styles */
.Border1 {border-width:1px; border-style:solid;}
.Border2 {border-width: 2px;  border-style:solid}
.Border3 {border-width: 3px;  border-style:solid}
.Border5 {border-width: 5px;  border-style:solid}

.DottedBorder {border-width:1px; border-style:dotted}

.BorderBottom1{border-bottom: 1px solid;}
.BorderBottom2{border-bottom: 2px solid;}
.BorderBottom6{border-bottom:6px solid;}
.BorderBottom10{border-bottom:10px solid;}
.BorderBottomDashed{border-bottom: dashed 1px;}
.BorderBottomDotted{border-bottom: dotted 1px;}

.BorderTop1{border-top: 1px solid;}
.BorderTopDashed{border-top: dashed 1px;}
.BorderTopDotted{border-top: dotted 1px;}

.BorderLeft1{border-left:1px solid;}
.BorderLeft10{border-left:10px solid;}
.BorderRight1{border-right:1px solid;}
.BorderRight2{border-right:2px solid;}

.BorderColor1{border-color: #cdd6da;}
.BorderColor2{border-color: #999;}


/* Border Rounded Corners */
.BorderRounded15{border-radius:15px;}
.BorderRounded10{border-radius:10px;}
.BorderRounded30{border-radius:30px;}
.BorderRounded5{border-radius:5px;}
.BorderRounded100{border-radius:50%;}

/* Table Style */		
.TableStyle {
	width: 100%;
    border-collapse: collapse;
    border-spacing: 0;    
	background-color: #fff !important;
	border: 1px solid #bbb!important; 
}
.TableStyle th {
	font-size: 15px;
	color:#2850a1; 
	text-align: center;
    padding:5px 7px;
	background-color: #e4e4e4;	
	font-weight: 500;
	border: 1px solid #bbb; 
}
.TableStyle td {
    border: 1px solid #000!important;    
    padding:5px 7px;
	
}
.TableStyle tr:nth-child(even) {
        background-color: #fff!important;
    }


.TableStyle1 {
	width: 100%;
    border-collapse: collapse;
	background-color: #fff;
	border: 1px solid #a5bede; 
	font-size: 13px;
}
.TableStyle1 th {
	font-size: 13px;
	color:#FFF; 
	text-align: center;
    padding:5px ;
	background-color: #0b50a6;	
	border: 1px solid #a5bede;
	
}
.TableStyle1 td {
    border: 1px solid #a5bede;    
    padding:5px 7px;
	
}
.TableStyle1 tr:nth-child(even) {
        background-color: #f6faff;
    }
.TableStyle2 {
	width: 100%;
    border-collapse: collapse;
    border-spacing: 0;    
	background-color: #fff !important;
	border: 2px solid #000!important; 
}
.TableStyle2 th {
	font-size: 13px;
	color:#000; 
	text-align: center;
    padding:5px 7px;
	background-color: #fff;	
	font-weight: 500;
	border: 2px solid #000!important; 
}
.TableStyle2 td {
    border-top: 0px  solid #000;
	border-left: 2px  solid #000;
    padding:5px 7px;
	font-size: 11px;
}

.BorderTopBottom{
	 border-top: 2px  solid #000!important; 
	 border-bottom: 2px  solid #000!important; 
}



.TableStyleNone td, th {
	border:0px !important;
	padding: 2px !important;
}
/* Text Box Style*/	

.TextBox{
	font-size: 16px;
	font-family: "Radio Canada Big", sans-serif;
	color:#000;
	padding:6px;
	min-height: 37px;
	background: #fff;
	border:1px solid #d8e1e6;
	box-shadow: 0px 0px 4px 0px #eee;
	box-sizing: border-box;
	outline: none;
}
.TextBox:focus{	
	border:1px solid #144379;
	box-shadow: 0px 0px 4px 0px #bbb;
	box-sizing: border-box;
	outline: none;
}
.TextBoxBig{
	font-size: 20px;
	font-family: 'Jost', sans-serif;
	color:#000;
	padding:13px 10px;
	background: #f5f5f5;
	border:1px solid #acb8c3;	
	box-sizing: border-box;
	outline: none;
}
.TextBoxBig:focus{	
	background: #fff;
	border:1px solid #144379;	
	box-sizing: border-box;
	outline: none;
}

.logintextbox{
	font-size: 18px;
	font-family: "Radio Canada Big", sans-serif;
	color:#000;
	padding:9px;
	background: #fff;
	border:1px solid #ddd;	
	box-sizing: border-box;
	outline: none;
}
.logintextbox:focus{	
	background: #fff;
	border:1px solid #000;	
	box-sizing: border-box;
	outline: none;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
textarea:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
::placeholder{
	
	font-family: "Radio Canada Big", sans-serif;
	opacity:0.4;
	color:#000;	
	}
:-ms-input-placeholder{
		
	font-family: "Radio Canada Big", sans-serif;
	opacity:0.4;
	color:#000;
}

.TextBoxBig::-webkit-input-placeholder,
.TextBoxBig::placeholder{
  color: #000;
  opacity:0.5;
  font-style:normal;
	text-transform: uppercase;
  font-family: 'Jost', sans-serif;
}
.TextBoxBig::-moz-placeholder{
  color: #000;
  opacity:0.5;
text-transform: uppercase;
  font-style:normal;
  font-family: 'Jost', sans-serif;
}

	.imgzoom { 
            overflow: hidden; 
            margin: 0 auto; 
        } 
      
.imgzoom img { 
            width: 100%; 
            transition: 0.5s all ease-in-out; 
        } 
      
.imgzoom:hover img {             
	-ms-transform: scale(1.15);	
	-webkit-transform: scale(1.15);	
	-moz-transform: scale(1.15); 
	transform: scale(1.15);
        }
.underline{		
	text-decoration: underline #bd0c3c solid; 
	text-decoration-thickness:6px; 
	text-underline-offset:18px;
	}
.Login{
	background-color: #144379;		
	border:4px solid #ddd;		
	box-shadow:inset 0px 0px 25px 0px #062b55, 0px 4px 15px 0px #062b55;
	border-radius: 20px;	
	}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
    background-color: #fff;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 92%; /* Could be more or less, depending on screen size */
	max-width: 1124px;
}
.modal-contentsmall {
    background-color: #fff;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 92%; /* Could be more or less, depending on screen size */
	max-width: 600px;
}
/* The Close Button (x) */
.close {
    position: absolute;
    right: 15px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@media screen and (max-width:1279px) {
	Body {FONT-SIZE:16px;}
.MediumText {FONT-SIZE:14px;}
.NormalText {FONT-SIZE: 17px;}
.NormalTextBig {FONT-SIZE:22px;}
.Heading {FONT-SIZE:27px;}
.BiggerText {FONT-SIZE:32px;}
.LargeText {FONT-SIZE:45px; }
.ExtraLargeText {FONT-SIZE:50px; }
}

@media screen and (max-width:1023px) {
	Body {FONT-SIZE:15px;}
.MediumText {FONT-SIZE:14px;}
.NormalText {FONT-SIZE: 16px;}
.NormalTextBig {FONT-SIZE:18px;}
.Heading {FONT-SIZE:24px;}
.BiggerText {FONT-SIZE:30px;}
.LargeText {FONT-SIZE:40px; }
.ExtraLargeText {FONT-SIZE:42px; }

}
@media screen and (max-width:767px) {
Body {FONT-SIZE:14px;}
.MediumText {FONT-SIZE:13px;}
.NormalText {FONT-SIZE: 16px;}
.NormalTextBig {FONT-SIZE:17px;}
.Heading {FONT-SIZE:26px;}
.BiggerText {FONT-SIZE:30px;}
	
.LargeText {FONT-SIZE:36px; }
.ExtraLargeText {FONT-SIZE:38px; }
.Button{
	font-size:16px;	
	padding:6px 15px;	
}
}

@media screen and (max-width:639px) {
.MediumText {FONT-SIZE:13px;}
.NormalText {FONT-SIZE: 15px;}
.NormalTextBig {FONT-SIZE:17px;}
.Heading {FONT-SIZE:23px;}
.BiggerText {FONT-SIZE:26px;}
	
.LargeText {FONT-SIZE:34px; }
.ExtraLargeText {FONT-SIZE:36px; }
	.logintextbox{
	font-size: 16px;	
	padding:7px;	
}
}

@media screen and (max-width:479px) {	
.MediumText {FONT-SIZE:13px;}
.NormalText {FONT-SIZE: 15px;}
.NormalTextBig {FONT-SIZE:16px;}
.Heading {FONT-SIZE:20px;}
.BiggerText {FONT-SIZE:24px;}	
.LargeText {FONT-SIZE:28px;}
.SmallerLink {FONT-SIZE:11px;}
.ExtraLargeText {FONT-SIZE:30px; }
.Button{	
	font-size:14px;	
	padding:5px 12px;	
}
.ButtonSmall{	
	font-size:11px;		
	padding:2px 8px;	
}
.ButtonMedium{	
	font-size:13px;	
	padding:3px 10px;	
}
.ButtonBig{	
	font-size:16px;	
	padding:6px 15px;	
}

}
@media screen and (max-width:479px) {
	.Heading {FONT-SIZE:18px;}
.BiggerText {FONT-SIZE:22px;}
}


